{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row mt-2">
        <div class="row mt-2">
            <div class="col-md-6">
                <strong>Imported Tenants: </strong> <br>
                {% for tenant in tenant_list %}
                    => {{ tenant }} <br>
                {% empty %}
                    <em>there where no tenants to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <strong>Imported Instances: </strong> <br>
                {% for instance in instance_list %}
                    => {{ instance }} <br>
                {% empty %}
                    <em>there where no instances to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <strong>Imported Rooms: </strong> <br>
                {% for room in room_list %}
                    => {{ room }} <br>
                {% empty %}
                    <em>there where no rooms to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <strong> All tenants updated: </strong> <br>
                {% if tenant_updates|length > 0 %}
                    {% for tenant in tenant_updates %}
                        => {{ tenant }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no tenants in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All instances updated: </strong> <br>
                {% if instance_updates|length > 0 %}
                    {% for instance in instance_updates %}
                        => {{ instance }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no instances in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All rooms updated: </strong> <br>
                {% if room_updates|length > 0 %}
                    {% for room in room_updates %}
                        => {{ room }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no rooms in file</em>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
