{% if condition %}
    <span class="badge bg-success">
        <em class="fas fa-check"></em>
    </span>
{% else %}
    <span class="badge bg-danger" style="width: 21.59px; ">
        <em class="fas fa-times"></em>
    </span>
{% endif %}